.theme, th, .page-item{
  background-color: #FCD4D5;
}

body{
  color: #00081A;
}

.invalid-feedback{
  color: #E2421F;
  font-weight: bold;
}

a{
  color: #008DBD;
}

input{
  max-width: 220px;
}

input[type="text"]{
  width: 15em;
}

input[type="number"]{
  width: 4em;
}

input[type="checkbox"]{
  width: 2em;
}

textarea{
  width: 100%;
  height: 5em;
}

input, select{
  border: solid 1px gray;
}

.scroll-table, .scroll-img{
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.scroll-table{
  display: block;
  table-layout: fixed;
}

.scroll-img img{
  height: 300px;
}

.nowrap{
  white-space: nowrap;
}

th{
  min-width: 2em;
}

table tr:nth-child(odd) td, .page-item:hover, .disabled, .active, .pagination, .header li:hover{
	background: #FCF5F7;
}

.row{
  margin-bottom: 0.7em;
}

.row h3{
  margin-bottom: 0;
}

.pagination{
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.page-item{
  list-style: none;
  padding: 0.3em;
}

.page-link{
  text-decoration: none;
}

.search-by-value, .search-by-row{
  display: flex;
}

.search-by-row{
  flex-wrap: wrap;
}

.search-by-value{
  width: 260px;
}

.search-by-value select{
  max-width: none;
  width: 100%;
  margin-right: 5px;
}

.search-by-value button{
  width: 160px;
}
