/database/migrations/2020_02_06_114040_init_animals_table.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/toBeSent/*
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
lab.log
npm-debug.log
yarn-error.log
*.icloud
*0.blade.php
