/database/migrations/2020_02_06_114040_init_animals_table.php
/config/database.php
lab.log
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
later.txt
